version 8
model e200z4

pipeline pipelineExample
pipelineExample addStage FETCH
pipelineExample addStage DECODE_EA
pipelineExample addStage EXECUTE
pipelineExample addStage MEM
pipelineExample addStage REGISTER

pipelineExample addResource external DDCRes 0 priority
pipelineExample addResource external MemDev_fetch 0 priority
pipelineExample addResource external MemDev_loadStore 0 priority

pipelineExample addInstructionClass ic_1
ic_1 dependResource 1 DDCRes EXECUTE
ic_1 dependResource 1 MemDev_fetch FETCH

pipelineExample addInstructionClass ic_2
ic_2 dependResource 1 DDCRes EXECUTE
ic_2 dependResource 1 MemDev_loadStore MEM
ic_2 dependResource 1 MemDev_fetch FETCH

pipelineExample addInstructionClass ic_3
ic_3 dependResource 1 DDCRes EXECUTE
ic_3 dependResource 1 MemDev_loadStore MEM
ic_3 dependResource 1 MemDev_fetch FETCH

DDC read DECODE_EA
DDC write REGISTER

add notification enter_FETCH when instruction enters in stage FETCH
add notification exits_REGISTER when instruction exits stage REGISTER
add notification enter_DECODE_EA when instruction enters in stage DECODE_EA
add notification enter_EXECUTE when instruction enters in stage EXECUTE
add notification enter_REGISTER when instruction enters in stage REGISTER

